Source: ros-jade-flask-cors
Section: misc
Priority: extra
Maintainer: AlexV <asmodehn@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-flask (>= 0.10.1), python-six (>= 1.5.2), ros-jade-catkin (>= 0.6.18), ros-jade-catkin-pip (>= 0.2.0)
Homepage: 
Standards-Version: 3.9.2

Package: ros-jade-flask-cors
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-flask (>= 0.10.1), python-six (>= 1.5.2)
Description: Cross Origin Resource Sharing ( CORS ) support for Flask
